.article-list {
  list-style: none;

  .article-item {
    overflow: hidden;
    transition: background 0.4s;

    &:hover,
    &:focus {
      background-color: var(--compliment);
    }
  }

  .article-link {
    display: block;
    padding: 1em 0;
    transition: transform 0.2s;

    &:hover,
    &:focus {
      transform: translateX(1rem);
    }
  }

  .article-title {
    margin: 0 0 0.25em;
    font-weight: 900;
  }

  .article-summary {
    font-size: 1em;
    font-weight: 500;
    color: var(--menu-item);
  }

  .article-date {
    margin-top: 1.5em;
    font-size: 0.75rem;
  }
}
