.article-list {
  list-style: none;

  .article-item {
    overflow: hidden;
    transition: background 0.4s;
  }

  .article-link {
    display: block;
    padding: 1em 0;

    &:hover,
    &:focus {
      background-color: var(--compliment);

      .article-title,
      .article-summary {
        transform: translateX(1rem);
      }
    }
  }

  .article-title {
    margin: 0 0 0.25em;
    font-weight: 900;
    transition: transform 0.2s;
  }

  .article-summary {
    font-size: 1em;
    font-weight: 500;
    color: var(--menu-item);
    transition: transform 0.2s;
  }
}
