.article {
  .article-title {
    margin: 0;
    margin-bottom: 0.5em;
    position: relative;
    font-size: 2.5em;
    text-transform: uppercase;
    z-index: -1;
    color: var(--heading);
    --shadow-length: 16;

    span {
      padding-right: 1ch;
      background-color: var(--bg);
      transition: background-color 0.3s;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0.23em;
      left: 0;
      width: 100%;
      height: 0.125em;
      background-color: var(--accent);
      z-index: -1;
    }
  }

  .article-subtitle {
    padding-bottom: 2rem;
    font-size: 2em;
    font-family: 'Covered By Your Grace';
    font-weight: 400;
  }

  .article-meta {
    padding: 1em;
    margin-bottom: 2rem;
    width: 100%;
    font-size: 0.75rem;
    line-height: 1.625;
    text-align: center;
    border-radius: $border-radius;
    background-color: var(--compliment);
    transition: background-color 0.3s;

    a {
      border-bottom: 1px dashed $gray-dark;
      &:hover,
      &:focus {
        border-bottom-color: var(--accent);
      }
    }
  }

  p {
    font-size: 1em;
    font-weight: 500;
  }
}
