* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Menlo, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-weight: 500;
  color: $white;
  background-color: $black-light;
  transition: background-color 0.3s;

  .light-theme & {
    color: $black-light;
    background-color: $white;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.js-focus-ring :focus:not(.focus-ring) {
  outline: none;
}
