* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Menlo, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-weight: 500;
  color: var(--text);
  background-color: var(--bg);
  transition: background-color 0.3s;
}

a {
  color: inherit;
  text-decoration: none;
}

p + p {
  margin-top: 1em;
}
