* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include font-body;
  color: var(--text);
  background-color: var(--bg);
  transition: background-color 0.3s;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  line-height: 1.6em;
}

p + p {
  margin-top: 1em;
}

hr {
  margin: 2em 0;
  height: 2px;
  background-color: var(--compliment);
  border: 0;
}
