code,
.line-numbers {
  @include font-code;
  font-size: 1em;
  line-height: 1.65;
}

pre {
  position: relative;
  margin: 2rem 0;
  padding: 1rem 0;

  code {
    display: block;
    position: relative;
    overflow-x: scroll;

    @media (min-width: 480px) {
      padding-left: 1em;
      border-left: 1px dotted var(--compliment-light);
    }
  }
}

code {
  p > &,
  a > & {
    font-size: 0.85em;
    padding: 0.25em;
    background-color: var(--text);
    color: var(--bg);
    border-radius: $border-radius;
  }

  a > & {
    text-decoration: underline;
  }

  .keyword {
    color: var(--keyword);
  }
  .function {
    color: var(--function);
  }
  .function-variable {
    color: var(--function-variable);
  }
  .class-name {
    color: var(--class-name);
  }
  .operator {
    color: var(--operator);
  }
  .punctuation {
    color: var(--punctuation);
  }
  .string {
    color: var(--string);
  }
  .number {
    color: var(--number);
  }
  .boolean {
    color: var(--boolean);
  }
  .comment {
    color: var(--comment);
  }

  .selector {
    color: var(--selector);
  }
  .property {
    color: var(--property);
  }
}

.line-numbers {
  display: none;
  position: absolute;
  top: 1rem;
  right: 100%;
  padding-right: 0.75em;
  height: calc(100% - 2rem);
  overflow: hidden;
  text-align: right;
  color: var(--compliment);
  user-select: none;

  @media (min-width: 480px) {
    display: block;
  }
}
