h1,
h2 {
  margin-bottom: 1em;
}

p {
  line-height: 1.825;
}

blockquote {
  @include font-display;
  margin: 2rem 0;
  padding: 2rem;
  background-color: var(--compliment);
  border-left: 2px solid var(--accent);
  border-radius: 0 $border-radius $border-radius 0;
  font-size: 1.5em;

  p {
    line-height: 1.4;
  }
}

.link,
.markdown a {
  border-bottom: 1px dotted var(--accent);
}

.contain {
  @include contain();
}

.t-center {
  text-align: center;
}

.c-accent {
  color: var(--accent);
}

.c-gray {
  color: $gray;
}

.border-top-accent {
  border-top: 2px solid var(--accent);
}

.border-top-compliment {
  border-top: 2px solid var(--compliment);
}

.js-focus-ring :focus:not(.focus-ring) {
  outline: none;
}

.visually-hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
  opacity: 0;
}
