.link {
  color: $blue;
  text-decoration: none;
  border-bottom: 2px solid #e6e6e6;
}

.main {
  min-height: 100vh;
}

.contain {
  @include contain();
}

.bg-black {
  background-color: $black-light;
}

.bg-white {
  background-color: $white;
}

.c-red {
  color: $red;
}

.c-gray {
  color: $gray;
}
