@mixin contain($max-width: $content-width) {
  position: relative;
  padding: 1rem;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 480px) {
    padding: 0;
    width: 84vw;
  }
}

@mixin font-body {
  font-family: Menlo, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-weight: 500;
}

@mixin font-display {
  font-family: 'Covered By Your Grace';
  font-weight: 400;
}

@mixin font-code {
  font-family: 'Fira Code', 'Operator Mono', courier, monospace;
  font-weight: 400;
}
