.site-footer {
  margin: 8rem auto;
  max-width: 1200px;

  &__icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  li {
    list-style: none;
    margin-bottom: 0.5em;
  }
}
