$white: #ccc;
$gray: #9e9e9e;
$gray-dark: #727272;
//  darker  $blue: #3b4d8e;
$blue: #475eaa;
$blue-light: #d0d4e2;
$blue-dark: #111527;
// $blue-text: #485eab;
$blue-text: #949cb7;

$red-aa: #d34545;
$red: #de7373;
$red-light: #efbbbb;
$red-dark: #4d1a1a;

$black: #181a21;
$black-light: #282a36;
$black-compliment: #323442;

$content-width: 800px;

$bp-xs: 350px;
$bp-s: 414px;
$bp-m: 800px;
$bp-l: 1024px;
$bp-xl: 1280px;
