$white: #ddd;
$gray-light: #bbb;
$gray: #9e9e9e;
$gray-dark: #727272;

$blue: #4259a3;
$blue-light: #d0d4e2;
$blue-dark: #111527;
$blue-text: #949cb7;

$red-saturated: #d34545;
$red: #de7373;
$pink: #efbbbb;

$black: #181a21;
$black-light: #282a36;
$black-compliment: #323442;

$content-width: 800px;
$border-radius: 4px;

$bp-xs: 350px;
$bp-s: 414px;
$bp-m: 800px;
$bp-l: 1024px;
$bp-xl: 1280px;

:root {
  --bg: $black-light;
  --backdrop: rgba($black-light, 0.7);
  --backdrop-compliment: rgba($black, 0.5);
  --menu-btn: $gray;
  --menu-btn-bg: $black-compliment;
  --menu-item: $gray;
  --heading: $gray;
  --text: $white;
  --accent: $red;
  --compliment: $black-compliment;
  --meta: $gray;
}

.light-theme {
  --bg: $white;
  --backdrop: rgba(#dadada, 0.7);
  --backdrop-compliment: rgba($white, 0.5);
  --menu-btn: $gray-dark;
  --menu-btn-bg: $white;
  --menu-item: $gray-dark;
  --heading: $gray-dark;
  --text: $black-compliment;
  --accent: $blue;
  --compliment: $gray-light;
  --meta: $white;
}
